@font-face {
  font-family: "Open Sans";
   src: url("fonts/Open-Sans.otf") format("opentype");
   src: url("fonts/Open-Sans.woff") format("woff");
   src: url("fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans Narrow";
   src: url("fonts/PT-Sans-Narrow.woff") format("woff");
   src: url("fonts/PT-Sans-Narrow.otf") format("opentype");
   src: url("fonts/PT-Sans-Narrow.ttf") format("truetype");
}
@font-face {
  font-family: "Shlapak Script";
   src: url("fonts/Shlapak-Script.otf") format("opentype");
   src: url("fonts/Shlapak-Script.woff") format("woff");
   src: url("fonts/shlapak-script.ttf") format("truetype");
}
body {
	width: 100%;
	min-width: 960px;
	width: 100%;
	background-image: url(../img/bg/bg-wrapper.png);
}
.wrapper {
	min-width: 960px;
	width: 100%;
}
header {
	border-top: 5px solid #1aa156;
	border-bottom: 2px solid #1aa156;
	background-color: #0f1521;
	height: 102px;
}
header:after {
	top: 102px;
	content: "";
	display: inline-block;
	width: 100%;
	height: 7px;
	position: absolute;
	background-repeat: repeat-x;
	background-image: url(../img/pict/triangle-border.png);
}
.nav  {
	top: 5px;
	margin: auto !important;
	bottom: 3px;
	position: relative;
	white-space: nowrap;
}
.nav-main {
	width: 70% !important;
}
 .nav .col-xs-1 {
	padding-top: 33px;
	padding-bottom: 25px;
}
.nav img {
	margin-left: 45px;
	padding-top: 24px;
}
.nav a {
	font-family: "PT Sans Narrow";
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	padding: 19px 25px 16px 24px;
	border: 1px solid #1aa156;
}
 #logo {
	border: 0px solid #1aa156;
}
.nav a:hover {
	color: #ffffff;
	text-decoration: none;
}
.nav a:active {
	color: #ffffff;
	text-decoration: none;
	border: 4px solid #1aa156;
}
#triangle-black {
	top: 5px; 
	left: 60px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 22px 135px 0 135px;
	border-color: #0f1521 transparent transparent transparent;
	position: absolute;
	z-index:1;
}
.grey {
	height: 117px;
	background-color: #aeaeae;
	margin: 0 auto;
	text-align: center;
	font-family: "PT Sans Narrow";
	font-size: 30px;
	line-height: 48px;
	color: #ffffff;
	padding-top: 45px;
}
.grey:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 7px;
	position: relative;
	bottom: 5px;
	background-repeat: repeat-x;
	background-image: url(../img/pict/triangle-grey.png);
}
.gps {
	margin-top: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 5px 1px #eeeeee;
	box-shadow: 1px 1px 5px 1px #eeeeee;
  background-color: #ffffff;
  height: 100px;
  font-family: "PT Sans Narrow";
	margin-bottom: 45px;
	overflow: hidden;
}
.baner-gps {
	height: 100px;
	width: 110px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
 	background-color: #0f1521;
}
.baner-gps-coordinates {
	line-height: 18px;
	font-size: 18px; 
	padding-top: 40px;
	color: #1aa156; 
}
.baner-gps-text {
	line-height: 18px;
	font-size: 14px; 
	padding-top: 40px;
}
.baner-gps-maps {
	float: right;
 	line-height: 18px;
	font-size: 18px;
	color: #ffffff;
 	padding-top: 40px;
	height: 100px;
	width: 100px;
	line-height: 24px;
	background-color: #1aa156;
	padding-top: 35px;
	text-align: center;
}
.form {
	height: 567px;
	margin-top: 20px;
	margin-bottom: 100px;
}
.form-body {
	margin-left: 15px;
	background-color: #ffffff;
	-webkit-box-shadow: 1px 1px 5px 1px #ededed;
	box-shadow: 1px 1px 5px 1px #ededed;
}
.name-form {
	border: 0px solid #ffffff;
	outline: 2px solid #e5e5e5;
	height: 48px;
	width: 100%;
	margin-bottom: 20px;
	background: url(../img/icon/name-form.png) #ffffff no-repeat left center;
	padding-left: 40px;
	background-position: 10px 14px;
}
.emeil-form {
	outline: 2px solid #e5e5e5;
	height: 48px;
	width: 100%;
	margin-bottom: 20px;
	background: url(../img/icon/mail-form.png) #ffffff no-repeat left center;
	padding-left: 40px;
	background-position: 10px 16px;
	border: 0px solid #ffffff;
}
.tel-form {
	border: 0px solid #ffffff;
	outline: 2px solid #e5e5e5;
	height: 48px;
	width: 100%;
	margin-bottom: 20px;
	background: url(../img/icon/phone-form.png) #ffffff no-repeat left center;
	padding-left: 40px;
	background-position: 10px 12px;
}
.message-form {
	border: 0px solid #ffffff;
	outline: 2px solid #e5e5e5;
	height: 157px;
	width: 100%;
	margin-bottom: 20px;
	background: url(../img/icon/comment-form.png) #ffffff no-repeat left center;
	padding-left: 40px;
	background-position: 10px 10px;
	padding-top: 5px;
}
.form-body h1 {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #1aa156;
}
.form-body h2 {
	font-family: "PT-Sans-Narrow";
	font-size: 18px;
	line-height: 20px;
	color: #1aa156;
}
.btn-lg {
	float: right;
	background-color: #000;
}
form .btn {
	margin-bottom: 30px;
	background-color: hsl(0, 0%, 16%);
	background-repeat: repeat-x;
	border-radius: 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
	background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
	background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
	background-image: -o-linear-gradient(top, #5b5b5b, #282828);
	background-image: linear-gradient(#5b5b5b, #282828);
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
form .btn:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
	background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
	background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
	background-image: -o-linear-gradient(top, #5b5b5b, #282828);
	background-image: linear-gradient(#5b5b5b, #282828);
}
.upper {
	font-family: "PT-Sans-Narrow";
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin-bottom: 25px;
	min-width: 233px;
	padding-bottom: 10px;
	width: 100%;
}
li {
  list-style-type: none;
}
ul{
	padding-left: 5px;
}
.lower {
	font-family: "PT-Sans-Narrow";
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	min-width: 233px;
}
#telefon {
	color: #1aa156;
} 
#fax {
	color: #1aa156;
} 
#mail {
	color: #1aa156;
} 
#mail-com {
	color: #8e710d;
} 
::-webkit-input-placeholder {
	color: #bebebe;
}
::-moz-placeholder {
	color: #bebebe;
}
:-moz-placeholder {
	color: #bebebe;
}
:-ms-input-placeholder {
	color: #bebebe;
}
input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
} 
input:-moz-placeholder {
	text-overflow: ellipsis;
} 
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}   
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
:focus:-ms-input-placeholder {
	color: transparent;
}
.separator {
	border-top: 5px solid #1aa156;
}
.up {
	height: 300px;
	width: 100%;
	background-color: #0f1521;
	color: #1aa156;
}
.up img {
	padding-top: 100px;
	padding-bottom: 20px; 
}
.up p {
	font-family: PT Sans Narrow;
	font-size: 18px;
	line-height: 20px;
}
.middle {
	height: 190px;
	padding-top: 75px;
	background-color: #1aa156;
}
.super:before {
  vertical-align: middle;
  content: "";
  float: left;
  position:absolute;
  left: -30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px; height: 50px;
  background-image: url(../img/icon/twitter-black.png);
}
.down:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 17px;
	background-repeat: repeat-x;
	background-image: url(../img/pict/triangle-border.png);
}
.social-links {
	margin-top: 30px;
	width: 200px;
	height: 50px;
	display: inline-block;
	font-size: 0;
}
 .facebook {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/fbfooter.png);
  text-align: center;
}
.facebook:hover {
 	background-image: url(../img/icon/fb-hover.png);
 }
.twitter {
	display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/tw-footer.png);
  text-align: center;
}
.twitter:hover {
	background-image: url(../img/icon/tw-hover.png);
}
.vimeo {
	display: inline-block;
 	width: 50px;
  height: 50px;
  background-image: url(../img/icon/v-footer.png);
  text-align: center;
}
.vimeo:hover {
	background-image: url(../img/icon/v-hover.png);
}
.picasa {
	display: inline-block;
 	width: 50px;
  height: 50px;
  background-image: url(../img/icon/pic-footer.png);
  text-align: center;
}
.picasa:hover {
	background-image: url(../img/icon/p-hover.png);
}
.copyright {
	font-family: "PT Sans Narrow";
	font-size: 14px;
	line-height: 20px;
	color: #1aa156;
	margin-top: 50px;
	margin-bottom: 30px;
}
