@font-face {
  font-family: "Open Sans";
   src: url("fonts/Open-Sans.otf") format("opentype");
   src: url("fonts/Open-Sans.woff") format("woff");
   src: url("fonts/Open-Sans.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans Narrow";
   src: url("fonts/PT-Sans-Narrow.woff") format("woff");
   src: url("fonts/PT-Sans-Narrow.otf") format("opentype");
   src: url("fonts/PT-Sans-Narrow.ttf") format("truetype");
}
@font-face {
  font-family: "Shlapak Script";
   src: url("fonts/Shlapak-Script.otf") format("opentype");
   src: url("fonts/Shlapak-Script.woff") format("woff");
   src: url("fonts/shlapak-script.ttf") format("truetype");
}
body {
	width: 100%;
	min-width: 960px;
	background-image: url(../img/bg/bg-wrapper.png);
}
header {
	border-top: 5px solid #1aa156;
	border-bottom: 2px solid #1aa156;
	background-color: #0f1521;
	height: 102px;
}
header:after {
	top: 102px;
	content: "";
	display: inline-block;
	width: 100%;
	height: 7px;
	position: absolute;
	background-repeat: repeat-x;
	background-image: url(../img/pict/triangle-border.png);
}
div .nav {
	top: 5px;
	margin: auto ;
	bottom: 3px;
	position: relative;
	white-space: nowrap;
}
.nav-main {
	width: 70% !important;
}
.nav .col-xs-1 {
	padding-top: 33px;
	padding-bottom: 25px;
}
.nav img {
	margin-left: 45px;
	padding-top: 24px;	
}
.nav a {
	font-family: "PT Sans Narrow";
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	padding: 19px 25px 16px 24px;
	border: 1px solid #1aa156;
}
#logo {
	border: 0px solid #1aa156;
}
.nav a:hover {
	color: #ffffff;
	text-decoration: none;
}
.nav a:active {
	color: #ffffff;
	text-decoration: none;
	border: 4px solid #1aa156;
}
#triangle-black {
	top: 5px;
	width: 0;
	left: 60px;
	height: 0;
	border-style: solid;
	border-width: 22px 135px 0 135px;
	border-color: #0f1521 transparent transparent transparent;
	position: absolute;
	z-index: 1;
}
section {
	margin-top: 50px;
}
.baner-pizza {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 5px 1px #eeeeee;
	box-shadow: 1px 1px 5px 1px #eeeeee;
  background-color: #ffffff;
  height: 100px;
  font-family: "PT Sans Narrow";
	margin-bottom: 45px;
	overflow: hidden;
}
.baner-pizza a {
	color: #ffffff;
}
.baner-pizza a:hover {
	color: #ffffff;
}
.baner-pice-of-pizza {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
 	background-color: #0f1521;
}
.baner-pizza-news {
	line-height: 18px;
	font-size: 18px; 
	padding-top: 40px;
	margin-left: 40px;
	line-height: 18px;
	color: #1aa156;
}
.baner-pizza-text {
	line-height: 18px;
	font-size: 14px;
	padding-top: 35px;
	line-height: 30px;
  margin-left: 40px;
}
.baner-pizza-designer {
 	float: right;
 	line-height: 18px ;
	font-size:18px;
	color: #ffffff;
 	height: 100px;
	width: 100px;
	background-color: #1aa156;
	padding-top: 35px;
	text-align: center;
}
.menu {
	-webkit-box-shadow: 1px 1px 5px 1px #ededed;
	box-shadow: 1px 1px 5px 1px #ededed;
}
.list {
	width: 270px;
	background-color: #161f2f;
}
 .list h1 { 
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: "PT Sans Narrow";
	font-size: 18px;
	line-height: 18px;
}
.kind { 
	background-color: #0f1521;
	width: 270px;
	height: 50px;
	color: #ffffff;
	font-family: "PT Sans Narrow";
	font-size: 18px;
	line-height: 36px;
	padding-top: 8px;
}
.kind a { 
	color: #ffffff;
	text-decoration: none;
	padding-top: 30px;
	padding-bottom: 12px;
}
.kind:hover {  
	color: #ffffff;
	text-decoration: none;
	background-color: #1aa156;
}
.kind a:hover { 
	color: #ffffff;
	text-decoration: none;
}
.none-hover:hover {  
	background-color: #0f1521;
}
.none-hover { 
	min-height: 50px; 
}
.list-menu {
	font-family: "PT Sans Narrow";
	font-size: 18px;
	line-height: 30px;
	color: #1aa156;
	text-align: center;
	background-color: #ffffff;
	height: 50px;
}
.pizza {
	height: 100px;
}
.underline {
	border-top-color: #fff;
}
.menu h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #1aa156;
	font-size: 18px;
	font-family: "PT Sans Narrow";
	line-height: 18px;
}
.menu {
	background-color: #f1f1f1;
	line-height: 14px;
	font-size: 14px;
	font-family: "PT Sans Narrow";
}
.money {
	font-size: 18px;
	line-height: 30px;
	font-family: "PT Sans Narrow";
	color: #1aa156;
	margin-top: 15px;
}
.btn {
	font-size: 14px;
	color: #ffffff;
	background-color: #000;
	line-height: 30px;
	border: 1px solid #000;
	padding: 10px 9px 8px 9px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px !important;
	margin-top: 10px;
	margin-bottom: 32px;
	min-width: 75px;
}
.btn:hover {
	background-color: #1aa156;
}
.separator {
	margin-top: 23px;
	border-top: 1px solid #55b881;
	border-bottom: 1px solid #123a2f;
	background-color: #1aa156;
	height: 4px;
}
.up {
	height: 300px;
	width: 100%;
	background-color: #0f1521;
	color: #1aa156;
}
.up img {
	padding-top: 100px;
	padding-bottom: 20px; 
}
.up p {
	font-family: "PT Sans Narrow";
	font-size: 18px;
	line-height: 20px;
}
.middle {
	height: 190px;
	padding-top: 75px;
	background-color: #1aa156;
}
.super:before {
  vertical-align: middle;
  content: "";
  float: left;
  position: absolute;
  left: -30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px; 
  height: 50px;
  background-image: url(../img/icon/twitter-black.png);
}
.down:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 17px;
	background-repeat: repeat-x;
	background-image: url(../img/pict/triangle-border.png);
}
.social-links {
	margin-top: 30px;
	width: 200px;
	height: 50px;
	display: inline-block;
	font-size: 0;
}
 .facebook {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/fbfooter.png);
  text-align: center;
}
.facebook:hover {
 	background-image: url(../img/icon/fb-hover.png);
}
.twitter {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon/tw-footer.png);
  text-align: center;
}
.twitter:hover {
	background-image: url(../img/icon/tw-hover.png);
}
.vimeo {
	display: inline-block;
 	width: 50px;
  height: 50px;
  background-image: url(../img/icon/v-footer.png);
  text-align: center;
}
.vimeo:hover {
	background-image: url(../img/icon/v-hover.png);
}
.picasa {
	display: inline-block;
 	width: 50px;
  height: 50px;
  background-image: url(../img/icon/pic-footer.png);
  text-align: center;
}
.picasa:hover {
	background-image: url(../img/icon/p-hover.png);
}
.copyright {
	font-family: "PT Sans Narrow";
	font-size: 14px;
	line-height: 20px;
	color: #1aa156;
	margin-top: 50px;
	margin-bottom: 30px;
}
